<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catálogo de produtos</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <fieldset>
            <legend>Cadastrar novo produto</legend>
            
            <form th:action="@{/produto/cadastrarProduto}" method="POST">
                
                <input type="hidden" id="usuarioId" name="usuarioId" th:value="${id}">
                
                <div class="input-item">
                    <label for="descricao">Descrição: </label>
                    <input type="text" id="descricao" name="descricao" placeholder="Descrição" required>
                </div>
                
                <div class="input-item">
                    <label for="preco">Preço(R$):</label>
                    <input type="number" id="preco" name="preco" placeholder="00,00" required>
                
                    <label for="quantidade">Quantidade:</label>
                    <input type="number" id="quantidade" name="quantidade" placeholder="0" required>
                </div>
                
                <div class="input-item">
                    <input type="submit" value="Cadastrar">
                </div>
            </form>
            <button onclick="history.back()">Voltar</button>
        </fieldset>
    </body>
</html>
