<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catálogo de produtos</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <fieldset>
            <legend>Tabela de produtos</legend>
            <p>Usuário: <span th:text="${id}"></span></p>
            <a th:href="@{/produto/meusProdutos/id={id}(id=${id})}" class="link-botao">Meus Produtos</a>
            <table>
                <tr>
                    <th>Descrição</th>
                    <th>Nome do vendedor</th>                
                    <th>Preço</th>
                    <th>Quantidade</th>
                </tr>
                <tbody>
                    <tr th:each="produto : ${listaProdutos}">
                        <td><span th:text="${produto.descricao}"></span></td>
                        <td><span th:text="${produto.usuarioId.nome}"></span></td>
                        <td>R$ <span th:text="${produto.preco}"></span></td>
                        <td><span th:text="${produto.quantidade}"></span></td>
                    </tr>
                </tbody>
            </table>
            <a href="/usuario/login.html" class="link-botao">Voltar</a>
        </fieldset>

    </body>
</html>
