<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catálogo de produtos</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <h1>Catálogo de produtos</h1>
        <fieldset>
            <a href="/usuario/login.html" class="link-botao">Entrar com um usuário existente</a>
            <a href="/usuario/cadastroUsuario.html" class="link-botao">Cadastrar novo usuário</a>
        </fieldset>
    </body>
</html>
